section p, .container-fluid {
  text-align: center;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: #0000FF;
  font-family: "Times New Roman", Times, serif;
}
body {
  position: relative;
  background-color: #000000;
}
.well {
  margin-left: 3%;
  margin-right: 3%;
  background-color: #F0FFFF;

}
footer {
  background-color: white;
  color: gray;
  line-height: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
section {
  height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 10px;
}